.ds-goi-y-tim-kiem-tra-cuu {
  @include rounded($goc-30);

  position: absolute;
  top: calc(100% + 30px);
  right: -20px;
  left: -20px;
  max-height: calc(100vh - 270px);
  background-color: $mau-trang;
  box-shadow: $mau-do-bong-cap-1;
  overflow-y: auto;
  overflow-x: hidden;

  li {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid $mau-vien;

    &.tim-du-an-theo-vung {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:hover,
    &.dang-chon {
      background-color: $mau-vien-50;
    }

    small {
      font-size: 12px;
    }

    .c-dang-xu-ly {
      display: block;
    }
  }
}
