// sass-lint:disable no-important
.c-ban-do {
  height: 100vh;

  &.vo-hieu {
    pointer-events: none;
  }

  .tuy-chinh-marker {
    width: 44px;
    height: 60px;
    padding-top: 8px;
    padding-left: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: $mau-trang;
    overflow: visible !important;
    pointer-events: none;

    .icon {
      @include rounded(50%);

      display: flex;
      top: 8px;
      left: 8px;
      align-items: center;
      justify-content: center;
      width: 27px;
      height: 27px;
      border: 2px solid $mau-trang;
      background-color: $mau-xam-nhat;
      color: $mau-den;
      font-size: 12px;

      &-lien-ket {
        position: absolute;
        top: -12px;
        right: -12px;
        z-index: 3;
      }
    }

    &-dang-chon {
      background-image: url('/static/pin-solid-border-active.svg');
    }
  }

  .tuy-chinh-marker-hs {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    color: $mau-trang;
    overflow: visible !important;
    pointer-events: none;

    &-dang-chon {
      background-image: url('/static/pin-hs-active.svg');
    }

    &-can-ho {
      position: relative;
      width: 100px;
      z-index: 100;

      &::after {
        display: block;
        position: relative;
        width: 0;
        height: 0;
        margin: 0 auto;
        border-width: 7px 6px 0;
        border-style: solid;
        border-color: $mau-vien transparent transparent;
        content: '';
        pointer-events: none;
      }
    }

    &-so-luong {
      @include rounded(5px);
      @include box-shadow(0, 0, 2px, $mau-den-30);

      min-width: 30px;
      padding: 10px;
      background-color: $mau-trang;
      color: $mau-den;
      font-size: 14px;
      text-align: center;
      overflow: hidden;
    }
  }

  .tuy-chinh-marker-du-an {
    .c-ten-du-an {
      display: none;
    }

    &.dang-chon,
    &.dang-hover {
      .c-ten-du-an {
        @include rounded($goc-15);

        display: block;
        width: 120px;
        padding: 12px 20px;
        background-color: $mau-den;
        color: $mau-trang;
        text-align: center;
        box-shadow: $mau-do-bong-cap-5;
      }
    }
  }

  .c-gia-thua-dat {
    @include transform(translate(-50%, -50%) rotate(0deg));
    @include rounded(10px);

    padding: 0 5px;
    background-color: $mau-den;
    color: $mau-trang;
    font-size: 14px;
    line-height: 20px;
  }

  .gm-style {
    font-family: 'Quicksand';
    font-size: 12px;

    &-iw-c {
      padding: 0;
    }

    &-iw-d {
      @include rounded(10px);

      overflow: auto;
    }
  }

  .infowindow {
    &-gia-thua-dat {
      position: relative;
      font: 400 14px/22px 'Quicksand', sans-serif;
      overflow: hidden;

      &-phan-dau {
        padding: 15px 20px;
      }

      &-dia-chi {
        width: 250px;
        font-weight: $bold;
      }

      &-gia {
        color: $mau-xanh-cay;
      }

      &-loai {
        color: $mau-xam;
      }

      &-hang {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-top: 1px solid $mau-vien;
      }
    }
  }
}

.disable-dots {
  .gm-style {
    div {
      div {
        * {
          pointer-events: none;
        }
      }
    }
  }
}
