// sass-lint:disable no-important
.c-bang-dieu-khien-ban-do {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 80px;
  left: 0;
  z-index: 200;
  pointer-events: none;

  .c-xu-ly-do-mo-quy-hoach {
    @include rounded($goc-11);

    display: flex;
    flex-direction: column;
    width: 40px;
    margin-bottom: 10px;
    background-color: $mau-trang;
    box-shadow: $mau-do-bong-cap-3;
    overflow: hidden;

    .nut {
      min-height: 40px;
      box-shadow: none;
    }

    &-dang-chon {
      padding-bottom: 5px;
      border-bottom: 1px solid $mau-vien;
      text-align: center;
    }
  }

  .rc-slider {
    height: 100px;
    margin: 14px auto 5px;

    &-vertical {
      width: 2px;
    }

    &-track {
      display: none;
    }

    &-step,
    &-rail {
      width: 2px;
      background-color: $mau-vien;
    }

    &-handle {
      width: 20px;
      height: 20px;
      margin-left: -9px;
      border: 2px solid $mau-trang;
      background-color: $mau-chinh;
      box-shadow: $mau-do-bong-cap-2;
      opacity: 1;
    }
  }

  .rc-slider-handle-dragging {
    &.rc-slider-handle-dragging {
      &.rc-slider-handle-dragging {
        border-color: $mau-trang;
        box-shadow: $mau-do-bong-xanh;
      }
    }
  }

  .dang-tra-cuu & {
    right: 500px;
  }

  & > * > * {
    pointer-events: visible;
  }

  .nut {
    @include rounded($goc-11);

    box-shadow: $mau-do-bong-cap-3;
  }

  &-phu {
    position: absolute;
    right: 80px;
    bottom: -60px;
  }

  &-chinh {
    display: flex;
    position: absolute;
    top: 80px;
    right: 20px;
    bottom: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: auto;
    z-index: 201;

    .nut {
      margin-bottom: 10px;

      .icon {
        margin-right: 0;
      }

      &.dang-chon {
        &,
        &:hover {
          background-color: $mau-chinh;

          &,
          .icon {
            color: $mau-trang;
          }
        }
      }

      &.vo-hieu {
        &,
        &:hover {
          background-color: $mau-xam-nhat;
        }
      }

      &.vi-tri-hien-tai {
        position: relative;
      }

      &-zoom-in,
      &.loai-ban-do,
      &-xem-don-gia {
        @include rounded-bl(0);
        @include rounded-rb(0);

        margin-bottom: 0;
        border-bottom: 1px solid $mau-vien;
      }

      &-zoom-out,
      &.ve-tinh,
      &-xem-quy-hoach {
        @include rounded-lt(0);
        @include rounded-tr(0);
      }

      // &-xem-quy-hoach {
      //   margin-bottom: 60px;
      // }

      &-zoom-out {
        line-height: 34px;

        .icon {
          font-size: 2px;
        }
      }

      &-tsss {
        position: absolute;
        right: calc(100% + 10px);
        bottom: -100px;
        margin-bottom: 0;
        color: $mau-den;
        white-space: nowrap;

        &:hover {
          color: $mau-lien-ket;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .planning {
      @include box-shadow(0, 0, 80px, $mau-den-30);

      min-width: 220px;

      .b-title {
        @include rounded($goc-15);

        padding: 10px 10px 10px 15px;
        background-color: $mau-trang;

        .icon {
          margin-right: 3px;

          &-down,
          &-up {
            font-size: 12px;
          }
        }
      }

      .b-content {
        border: 0;

        .b-radios {
          padding: 15px;

          .tuy-chinh-radio {
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &-thong-so {
    display: flex;
    position: absolute;
    right: 50px;
    bottom: -50px;
    white-space: nowrap;

    .nut {
      margin-bottom: 0;
      margin-left: 10px;

      &-opacity {
        background-color: $mau-trang-60;
        color: $mau-xam;
        cursor: default;

        strong {
          color: $mau-den;
        }

        .icon {
          color: $mau-chinh;
        }
      }
    }
  }

  .b-options {
    @include box-shadow(0, 2px, 20px, $mau-den-10);

    padding: 15px;

    .option {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .switch-planning {
        margin-right: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.c-ban-do {
  .gm-bundled-control-on-bottom {
    right: 20px !important;
    bottom: 20px !important;
    margin: 0 !important;

    .gm-svpc {
      @include rounded($goc-11 !important);

      position: relative !important;
      box-shadow: $mau-do-bong-cap-3;
    }
  }
}
