.c-chuc-nang-su-dung-dat {
  @include center-absolute('vertical');
  @include rounded(10px);

  position: absolute;
  left: -460px;
  min-width: 460px;
  height: calc(100vh  - 200px);
  transition: 0.3s ease-in;
  background-color: $mau-trang;
  box-shadow: $mau-do-bong;
  z-index: 99;

  &-tieu-de {
    padding: 20px;
    border-bottom: 1px solid $mau-vien;
    font-size: 16px;
    font-weight: bold;
  }

  &-mui-ten-tac-vu {
    @include center-absolute('vertical');
    @include rounded-tr(10px);
    @include rounded-rb(10px);

    display: flex;
    right: -20px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 100px;
    background-color: $mau-trang;
    text-align: center;
    box-shadow: 20px 2px 20px 0 $mau-den-20;
    cursor: pointer;
  }

  &.dang-chon {
    left: 0;
  }

  &-cha {
    display: flex;
    justify-content: space-between;
    padding: 20px 5px  20px 20px;
    border-bottom: 3px solid $mau-vien;
    cursor: pointer;

    &-tieu-de {
      font-size: 15px;
      font-weight: bold;
    }

    &-tac-vu {
      color: $mau-chinh;

      .icon {
        transform: rotate(90deg);

        &.dang-chon {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &-bo-cuc {
    height: calc(100vh - 300px);
    padding: 0 20px 0 0;
    overflow: scroll;
  }

  &-con {
    .c-nhom-du-lieu-bang {
      display: none;
    }

    &.dang-chon {
      .c-nhom-du-lieu-bang {
        display: block;
      }
    }
  }

  &-the {
    border-bottom: 1px solid $mau-vien;

    &:last-child {
      border: 0;
    }
  }

  .c-du-lieu-bang {
    margin: 0;
    padding: 0;

    .hop-mau {
      display: block;
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    label {
      display: flex;
      align-items: center;
    }
  }
}
