.c-thong-tin-ghi-chu-ban-do {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 200px;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 999;

  &-chi-tiet {
    @include rounded($goc-15);

    width: 620px;
    margin-right: 50px;
    background-color: $mau-trang;
    box-shadow: $mau-do-bong-hop;
  }

  &-thanh-tieu-de {
    position: relative;
    padding: 14px 20px;
    border-bottom: 1px solid $mau-vien;
    font-size: 16px;
  }

  &-nut-mo {
    margin-right: 10px;
  }

  &-nut-dong {
    position: absolute;
    top: 17px;
    right: 20px;
    cursor: pointer;
  }
}
