.c-tim-kiem-tra-cuu {
  @include rounded($goc);

  max-width: 500px;
  border: 1px solid $mau-vien;
  background-color: $mau-trang;
  box-shadow: $mau-do-bong-cap-1;

  input,
  textarea {
    &:read-only,
    &:disabled {
      pointer-events: all;
    }
  }

  &-du-an {
    width: 100%;

    .truong-tac-vu {
      bottom: 13px;
    }

    .truong {
      &-tim-kiem {
        .ds-goi-y-tim-kiem-tra-cuu {
          top: calc(100% + 15px);
          right: -5px;
          left: -105px;
        }
      }
    }
  }

  &-loai {
    display: flex;
    padding: 10px;

    input {
      &[type='text'] {
        width: 100%;
        height: 40px;
        border: 0;
        line-height: 40px;
      }
    }
  }

  .truong {
    &-tim-kiem {
      input {
        &:placeholder-shown {
          & ~ .ds-goi-y-tim-kiem-tra-cuu {
            display: none;
          }
        }
      }
    }
  }

  &.dang-mo {
    @include rounded($goc-20);

    .c-tim-kiem-tra-cuu {
      &-loai {
        padding: 10px;

        input {
          display: none;
        }
      }

      &-nha-dat {
        .c-tab-loai-1 {
          box-shadow: $mau-do-bong-cap-1;
        }

        form {
          padding: 20px;

          &.c-tim-kiem-tra-cuu-to-so-thua-so {
            padding-top: 30px;
          }
        }
      }
    }

    .c-tra-cuu-toa-do {
      margin: 20px 20px 15px;

      &-vn-2000 {
        max-height: calc(100vh - 320px);
        overflow-x: hidden;
        overflow-y: auto;

        .c-bieu-mau-tac-vu-2 {
          margin-top: -10px;
        }
      }
    }
  }
}
