.c-tim-kiem-tra-cuu-chung {
  border: 1px solid $mau-vien;
  background-color: $mau-trang;
  box-shadow: $mau-do-bong-cap-1;

  @include mq('desktop', 'max') {
    @include rounded-bl($goc-40);
    @include rounded-rb($goc-40);

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 100;
  }


  @include mq('desktop') {
    @include rounded($goc-40);

    min-width: 610px;
    padding: 10px;
  }


  .nut-tim-kiem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin-left: 10px;
    font-size: 18px;
  }

  input,
  textarea {
    border: 0;

    &:read-only,
    &:disabled {
      pointer-events: all;
    }
  }

  .truong {
    &-tim-kiem {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mq('desktop', 'max') {
        @include rounded($goc-40);

        border: 1px solid $mau-vien;
      }


      input {
        background-color: transparent;

        &:placeholder-shown {
          & ~ .ds-goi-y-tim-kiem-tra-cuu-chung {
            display: none;
          }
        }
      }
    }
  }
}
