.ds-goi-y-tim-kiem-tra-cuu-chung {
  @include rounded($goc-30);

  position: absolute;
  top: calc(100% + 30px);
  right: -10px;
  left: -10px;
  height: calc(100vh - 200px);
  padding: 10px 0;
  background-color: $mau-trang;
  box-shadow: $mau-do-bong-cap-1;
  overflow-x: hidden;
  overflow-y: auto;

  @include mq('desktop') {
    top: calc(100% + 20px);
    height: auto;
  }


  li {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid $mau-vien;

    &.ds-goi-y-tim-kiem-tra-cuu-chung-tieu-de {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 16px;
    }

    &.tim-du-an-theo-vung {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:hover,
    &.dang-chon {
      background-color: $mau-vien-50;
    }

    small {
      font-size: 12px;
    }

    .c-dang-xu-ly {
      display: block;
    }
  }
}
